<!DOCTYPE html>
<html lang="en">
  <!--header partial template-->
  <%-include('./partials/head.ejs') %>
  <body>
    <!--Navbar partial template-->
    <%-include('./partials/nav.ejs') %>
    <div class="content not-found">
      <h3>404</h3>
      <p>Sorry, page is not found</p>
    </div>
    <!--footer partial template-->
    <%-include('./partials/footer.ejs') %>
  </body>
</html>
