<!DOCTYPE html>
<html lang="en">
  <!--header partial template-->
  <%-include('./partials/head.ejs') %>
  <body>
    <!--Navbar partial template-->
    <%-include('./partials/nav.ejs') %>
    <div class="content about">
      <h3>About us</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
        dignissimos aspernatur at tempora illo optio aliquid voluptatum dolorem
        minima doloribus soluta porro facilis quia iusto nobis corrupti,
        doloremque laborum? Enim?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro alias
        molestias mollitia soluta cumque aspernatur praesentium quidem sunt,
        quis consequatur distinctio possimus quaerat vel dicta! At pariatur
        repudiandae animi sed.
      </p>
    </div>
    <!--footer partial template-->
    <%-include('./partials/footer.ejs') %>
  </body>
</html>
